body {
  font-size: 14px;
  color: #40c057;
  background-color: #0b0b45;
  letter-spacing: 1px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: #0b0b45;
}

.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url(../images/backbutton.png);
  transition: 0.5s ease;
}
.slides-navigation a.next {
  right: 20px;
  background-image: url(../images/forwardbutton.png);
  transition: 0.5s ease;
}

.slides-navigation a.prev:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  transition: 0.5s ease;
}

.slides-navigation a.next:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  transition: 0.5s ease;
}

.titleMessage {
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -75px;
}

.titleMessage .heading p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}
.titleMessage .heading .main {
  font-size: 50px;
}

.titleMessage .heading .sub {
  font-size: 35px;
}

.section {
  padding: 30px 0;
  border-bottom: solid #fff;
}

.aboutImage {
  border-radius: 8px;
  height: auto;
  width: 100%;
  margin-top: 5px;
  border: 2px solid #ffffff;
}

.aboutImage:hover {
  border: 5px solid #40c057;
}

#about {
  margin-top: 15px;
}

.skillsSection,
.contactSection {
  background-color: #0b0b45;
  color: rgb(255, 255, 255);
}

.skill {
  text-align: center;
  margin-left: 10px;
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0;
  right: 0;
}
.chart .percent {
  color: rgb(255, 255, 255);
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}
.chart .percent:after {
  content: "%";
  color: rgb(255, 255, 255);
}

.squareItem {
  margin-top: 30px;
  position: relative;
}

.squareInnerContainer {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: solid rgb(255, 255, 255);
  border-top: none;
}
.squareInnerContainer::before,
.squareInnerContainer::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.squareInnerContainer::before {
  right: 0px;
}
.squareInnerContainer::after {
  left: 0px;
}

.squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.squareContent h3 {
  font-size: 13px;
  font-weight: 600px;
  margin: 0;
}

.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: rgb(255, 255, 255);
}

.contactButton {
  color: rgb(255, 255, 255);
  padding: 15px 25px;
  display: inline-block;
  margin-top: 20px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 35px;
  border-radius: 12px;
}

.contactButton:hover {
  text-decoration: none;
  color: #40c057;
  background-color: rgb(255, 255, 255);
  border: 4px solid #40c057;
}

.copyrightSection {
  background-color: #0b0b45;
  color: #40c057;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}

#navigation {
  background-color: #0b0b45;
  z-index: 100;
  width: 100%;
  border-bottom: solid #fff;
  border-top: solid #fff;
}

#navigation li {
  padding: 0 30px;
}

.navbar-brand {
  padding-left: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.navbar-brand:hover {
  color: black;
}

.navbar-toggler-icon {
  background: url(../images/hamburger.png);
  background-size: 100%;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(../images/loadrocket.gif) center center no-repeat;
}

.col-md-7 {
  max-width: 100%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: #fff;
}

.col-md-7 h4 {
  color: #40c057;
}

.col-md-12 h2 {
  color: #40c057;
}

.container h2 {
  text-align: center;
  color: #40c057;
}

.statsSection {
  padding-bottom: 45px;
}

.statsSection h3 {
  color: #fff;
  font-size: larger;
}

.projects h2 {
  text-align: center;
  color: #40c057;
  padding: 30px 0;
}

.dice {
  border-radius: 8px;
  margin: 0 10px;
  border: 3px solid #ffffff;
}
.land {
  border-radius: 8px;
  margin: 0 10px;
  border: 3px solid #ffffff;
}
.heroes {
  border-radius: 8px;
  margin: 0 10px;
  border: 3px solid #ffffff;
}
.fit-log {
  border-radius: 8px;
  margin: 0 10px;
  border: 3px solid #ffffff;
}
.binary {
  border-radius: 8px;
  margin: 0 10px;
  border: 3px solid #ffffff;
}
.vanilla {
  border-radius: 8px;
  margin: 0 10px;
  border: 3px solid #ffffff;
}

.dice:hover,
.land:hover,
.heroes:hover,
.fit-log:hover,
.binary:hover,
.vanilla:hover {
  border: 5px solid #40c057;
}

.projone {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.projtwo {
  display: flex;
  justify-content: center;
}
.projthree {
  display: flex;
  justify-content: center;
}

.projectpics {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
  border-bottom: solid #fff;
}

.navbar-nav {
  position: sticky;
  top: 0;
  width: 100%;
}

.contentSection h2 {
  text-align: center;
  color: #40c057;
  padding-bottom: 20px;
}

.contentSection {
  padding-bottom: 40px;
}

iframe {
  border-radius: 8px;
  border: 3px solid #ffffff;
}

.recents {
  color: #40c057;
}

.my-stack {
  color: #40c057;
  text-align: center;
  font-size: larger;
}

.recents a {
  background: linear-gradient(0deg, #40c057, #40c057) no-repeat right bottom / 0
    var(--bg-h);
  transition: background-size 350ms;
}
.recents a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.li-link {
  padding-bottom: 2px;
  --bg-h: 2px;
}

.recents a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
}

.recents a:hover {
  color: #fff;
}

.nav-link {
  font-size: large;
  font-weight: 800;
  font-family: monospace;
}

.nav-link:hover {
  color: white;
}

.nav-link {
  background: linear-gradient(0deg, #40c057, #40c057) no-repeat right bottom / 0
    var(--bg-h);
  transition: background-size 400ms;
}
.nav-link:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.nav-link {
  padding-bottom: 8px;
  --bg-h: 3px;
  text-decoration: none;
  color: inherit;
  line-height: 1;
}

.nav-link:hover {
  color: #fff;
}

.stack-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.stack {
  background: linear-gradient(0deg, #40c057, #40c057) no-repeat right bottom / 0
    var(--bg-h);
  transition: background-size 400ms;
}
.stack:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.stack {
  padding-top: 10px;
  padding-bottom: 6px;
  --bg-h: 3px;
  text-decoration: none;
  color: inherit;
  line-height: 1;
}

.stack:hover {
  color: #fff;
  cursor: pointer;
}
